/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
/* #endregion RESET */
:root{
    --header-h: 70px
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    height: var(--header-h);
    background-color: red;
    padding: 15px;
    color: white
}

main{
    height: calc(100vh - var(--header-h));
    min-height: 300px;
    position: relative;
}

.box{
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px 15px;
    background-color: red;
    color: white;
    & * + *{
        margin-top: 20px;
    }
}

#price-shown{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 2.5rem;
    font-size: 1.8rem;
    background-color: white;
    color: black;
    &::after{
        content: " \20AC";
    }
}

